.container {
  margin: 2rem;
  width: 240px;
  border-radius: 8px;
  background: #FFFFFF;

}
.image{
  width: 240px;
  height: 168px;
  border-radius: 8px 8px 0px 0px;
}
.content{
  padding: .5rem 1rem;
  display: flex;
  flex-direction: row;
}
.text{
  display: flex;
  flex-direction: column;
  background: red;
  
  strong{
    font-size: 20px;
    line-height: 30px;
    font-weight: 500;
    color: #000000;
  }

  span{
    font-size: 14px;
    line-height: 21px;
    font-weight: normal;
    color: rgba(0, 0, 0, 0.6);

  }
}

.status{
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;

}