.container {
  width: 250px;
  max-height: 244px;
  border-radius: 8px;
  background: #FFFFFF;
  box-shadow: rgb(0 0 0 / 69%) 0px 26px 30px -10px;
}
.image{
  width: 250px;
  height: 168px;
  border-radius: 8px 8px 0px 0px;
}

.content{
  padding: .5rem 0;
  display: flex;
  flex-direction: column;
  max-height: 76px;
  align-items: center;

  strong{
    font-size: 20px;
    font-weight: 500;
    color: #000000;
  }

  span{
    font-size: 14px;
    font-weight: normal;
    color: rgba(0, 0, 0, 0.6);

  }
}
